body{
    overflow:visible !important;
    font-family: 'Roboto', sans-serif;
}

h1, #nav-bar, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}



#content-holder{
   border-radius: 1.2vw;
   margin-left: 1vw;
   width: 98%;
   margin-top: 10vw;
   margin-bottom: 4%;
   border-style: solid;
   border-color: #593ee5;
   border-width: 0.7vw;
   
}

#main-content{
    width: 100%;
    background-color: rgb(247, 83, 83);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#nav-bar{
    background-color: rgb(75, 67, 67);
    position: fixed;
    top: 0;
    width: 100%;
}

#header-img{
       margin-left: 2vw;
       width: 50%;
       height: auto;
       border-radius: 1vw;
       box-shadow: #ab1800 10px 10px;

}

#nav-bar a {
    float: left;
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav-bar a:hover{
    background: rgb(243, 82, 82);
    color: black;
}

ul, ol, li {
    list-style: none;
    font-size: 2.2vw;
}

li{
    display: flex;
    flex-direction: row;
    margin-left: -4vw;
}

.glyphicon {
    font-size: 3.5vw;
}

/*text at 600*/
h1 {font-size: 4.4vw;} h2 {font-size: 3.75vw;} h3{font-size: 2.7vw;}

#header, #how-it-works, #features, #pricing, #pricing-title {
    margin-left: 2%;
}
p.feature-explanation {
    margin-left: 2%;
}

div#pricing {
    display: flex;
    flex-direction: row;
}