body{
    overflow:visible !important;
    font-family: 'Roboto', sans-serif;
}

h1, #nav-bar, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}


#main-content{
  margin-top: 4vw;
  padding-top: 1.5vw;
  width: 100%;
  background-color: rgb(247, 83, 83);
}

#nav-bar{
    background-color: rgb(75, 67, 67);
    position: fixed;
    top: 0;
    width: 100%;
}

#header-img{
    width: 50%;
    height: auto;
}

#nav-bar a {
    float: left;
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav-bar a:hover{
    background: rgb(243, 82, 82);
    color: black;
}

ul, ol, li {
    list-style: none;
}