body{
    overflow:visible !important;
}
#main-content{
  margin-top: 4vw;
}

#nav-bar{
    background-color: rgb(75, 67, 67);
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-bar a {
    float: left;
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#nav-bar a:hover{
    background: rgb(243, 82, 82);
    color: black;
}

ul, ol, li {
    list-style: none;
}